* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerr{
  width: 100vw;
  overflow: hidden;
  /* border: 1px solid black; */
  height: 100vh;
}

#room_container{
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  position: relative;
  /* margin: auto; */
}

#members_container{
  width: 100%;
  height: 93%;
  /* border: 1px solid red; */
  overflow: hidden;
}

#videos {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  /* position: relative; */
  /* margin: auto; */
  /* border: 1px solid red; */
}

.videoPlayer {
  /* background-color: black; */
  /* border:1px solid red; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position: absolute; */
  border-radius: 5px;
  /* padding: 0.2rem; */
  overflow: hidden;
  /* display: block; */
  /* z-index: 0; */
}

/* #user2_div{
  display: none;
} */

#user2 {
  display: none;
}

.stream-container{
  width: 100vw;
  height: auto;
  padding: 10px;
  display: none;
}
.screenShare{
  position: fixed;
top: 0px;
right: 0px;
/* border: 1px solid red; */
z-index: 999;
}

.smallFrame {
  /* position: fixed;
  bottom: 8.5vh;
  left: 20px; */
  height: 135px;
  width: 265px;
  border-radius: 5px;
  /* border: 2px solid; */
  -webkit-box-shadow: 3px 3px 15px -1px rgb(0, 0, 0, 0.77);
  box-shadow: 3px 3px 15px -1px rgb(0, 0, 0, 0.77);
  z-index: 999;
}

#controls {
  align-items: center;
  justify-content: center;
  display: flex;
  /* border: 1px solid yellow; */
}

.footer-container {
  display: flex;
  background-color: white;
  /* margin: auto !important; */
  justify-content: center;
  width: 100;
  height: 7%;
  align-items: center;
  /* border: 1px solid green; */
  position: absolute;
  bottom: 0px;
  margin: none !important;
}

.footer {
  display: flex;
  align-items: center !important;
  justify-content: space-evenly !important;
  /* margin: auto !important; */
  /* border: 1px solid red; */
  position: absolute;
  width: 100%;
  height: auto;
}

#controls {
  gap: 2rem;
  /* border: 1px solid red; */

}

.logo_div {
  height: auto;
  /* border: 1px solid red; */
}

.logo_icon {
  width: 8rem;
}

.icon {
  width: 2.5rem;
}

.control-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* margin: 1rem; */
  /* border: 1px solid red; */
}

.chat_div {
  justify-content: right;
  /* border: 1px solid blue; */
}

@media screen and (max-width:600px){
    .smallFrame{
        height: 80px;
        width: 120px;
    }

    /* .control-container img{
        
    } */
}